%h2 Invite

= simple_form_for @user, :url => hunt_users_path(@hunt), :html => {:class => 'form-horizontal', :method => :post} do |f|
  = f.input :email, :label => 'Email', :autofocus => true
  = f.input :name, :label => 'Name'

  .form-actions
    = f.submit 'Submit', :class => 'btn btn-primary'
