.page-header
  %h1 Your Scavenger Hunts
%table.table.table-hover
  %tbody
    - @hunts.each do |hunt|
      %tr
        %td
          - if HuntParticipant.exists? :user_id => current_user.id, :hunt_id => hunt.id, :status_cd => HuntParticipant.judge
            %abbr{ title: 'You are a judge' }
              %i.icon-asterisk
        %td= link_to hunt.name, hunt_path(hunt)
        %td
          = link_to edit_hunt_path(hunt), :class => 'btn btn-mini' do
            %i.icon-edit.icon-large

= link_to 'New', new_hunt_path, :class => 'btn btn-primary'
