.user-badge
  .user-badge-image
    - if user.image.nil?
      %i.icon-user
    - else
      %img.media-object{ src: user.image }
  .user-badge-details
    %h4.media-heading= user.name
    - unless user.provider.nil?
      - case user.provider
        - when 'facebook'
          %i.icon-facebook-sign
    %span.label= user.email