- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li.active Teams

%h1 Teams
.row-fluid
  - @hunt_teams.each_slice(3) do |hunt_team_row|
    .span4
      - hunt_team_row.each do |hunt_team|
        %h2= hunt_team.name
        %table.table.hover
          - hunt_team.users.each do |user|
            %tr
              %td= render :partial => 'shared/user', :locals => { :user => user }
