- content_for :breadcrumb do
  %li
    = link_to 'Hunts', hunts_path
    %span.divider /
  %li
    = link_to @hunt.name, @hunt
    %span.divider /
  %li.active Teams

%h1 Teams
.row-fluid
  - @teams.each_slice(3) do |team_row|
    .span4
      - team_row.each do |team|
        %h2= team.name
        %table.table.hover
          - team.users.players.each do |user|
            %tr
              %td= render :partial => 'shared/user', :locals => { :user => user }
