.user-badge {
  min-height: 50px;

  .user-badge-image {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;

    i.icon-user {
      font-size: 50px;
      width: auto;
      color: #ccc;
      
      a:hover & {
        color: inherit;
      }
    }
  }

  .user-badge-details {
    margin-left: 60px;

    i {
      color: #3b5998;
      font-size: 1.1em;

      a:hover & {
        color: inherit;
      }
    }
  }
}